p {
    display: flex;
    width: 100%;
    align-self: center;
    flex-wrap: wrap;
    align-content: center;
    white-space: pre 
}

a{
    color: black;
}

.center_p {
    display: grid;
    width: 100%;
    align-self: center;
}