.TourStyle {
    margin-top: 7%;
    font-size: 40px;
    text-align:center;
    margin-bottom: 5px;
    line-height: 1;
}
  
.states {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.Dates {
    margin-top: 1%;
    text-align:center;
    margin-bottom:2%;
    line-height: 1;
    font-size: calc(6vw + 6vh);
    text-transform: uppercase;
    font-family: 'druk_cond_trialsuper', sans-serif;
}
  
  
.Tourtable {
    padding:50px;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    text-align:Center;
    border-collapse: collapse;
    font-size:20px;
    border-spacing:100px;
    font-family: Lato, sans-serif;
}

td{
    height:80px;
}
  
tr:nth-child(even) {background-color: #f5e7e0;}
  
tr:hover {background-color: #ff1875;}
  