/*Font*/
@font-face {
    font-family: 'druk_cond_trialsuper';
    src: url('/Assets/Druk_Collection/Druk\ Condensed\ Family/DrukCond-Super-Trial.otf') format('woff2'),
         url('/Assets/Druk_Collection/Druk\ Condensed\ Family/DrukCond-Super-Trial.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*background text on main*/
.main_back {
    font-family: 'druk_cond_trialsuper', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 33vw;
    padding: 0;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 60px;
    margin-bottom: 0%;
    position: fixed;
    top: 0;
    z-index: 0;
  }

.Group {
    position: relative;
    z-index: 5;
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    justify-self: center;
    margin-top: 30%;
    border-radius: .5%;
    box-shadow: 3px 3px 15px rgb(138, 138, 138);
}
  
.cover_up {
    background-color: #ffffff;
    overflow: clip;
    position: relative;
    z-index: 3;
    padding-top: 60vh;
    top: -70vh;
    width: 100%;
    height: 100%;
    overflow-x: clip;
    bottom: 500px;
}

.NameLogo {
    display: block;
    margin-left: auto;
    left: 15px;
    margin-right: auto;
    justify-self: center;
    width: 60%;
    z-index: 6;
    position: relative;
    top: -13vh;
    z-index: 5;
}


.NameLogo img {
    z-index: auto;
}

.subheading {
    position: relative;
    z-index: auto;
    font-size: xx-large;
    margin: 0;
    border: none;
}



.List {
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    position: center;
    z-index: auto;
    text-align: center;
}
  
/* Navigation links */
.List a {
    float: left;
    position: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom:20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    width: 22.89%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    z-index: 100;
    text-align: center; /* If you want the text to be centered */
}
  
  /* Add a background color on mouse-over */
.List a:hover {
    background: linear-gradient(0deg,#ff1875, #6f3341);
    color:white;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
.List a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
}
}

/*Music Section*/
.new_album {
    background-color: rgb(249, 235, 234);
    padding: 1%;
}

.extra_content_main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    width:100%;
}

.ExitRight24 {
    max-width: 65%;
}
  
.ExitRight24 img {
    max-width: 60%;
    max-height: 60%;
    margin-left: 7.5%;
    display:flex;
}

.album_main {
    font-size: calc(6vw + 6vh);
    padding-left: .01%;
    margin-right: 7%;
    font-family: 'druk_cond_trialsuper', sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    line-height: 1.4;
    display: flex;
}

/*Concert Section*/
.interstate {
    margin-top: 100px;
    font-family: 'druk_cond_trialsuper', sans-serif;
    font-size: 200px;
    letter-spacing: 20px;
    margin-bottom: 40px;
}

.states {
    text-align: center;
    font-size: 40px;
    margin-top: none;
}


/*Merch Section*/
.new_merch {
    background-color: rgb(249, 235, 234);
    padding: .8%;
}

.Merchie {
    margin-top: 100px;
    margin-bottom: .1vh;
    font-family: 'druk_cond_trialsuper', sans-serif;
    font-size: 200px;
    letter-spacing: 20px;
}


.link_main-shop {
    font-weight: 500;
    color: #000000;
    text-decoration: solid;
    text-transform: uppercase;
    font-size: xx-large;
    margin-left: 44%;
    margin-right: 44%;
    width: 100%;
    display:flex;
}

.holder {
    width: 500px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
  
.v2 {
    width: 100%;
}

.child {
    display: inline-block;
    padding: 1% 0%;
    text-align:center;
    width:90%;
}

.product-card{
    flex: 0 0 auto;
    scale: .8;
    margin-right: .1vw;
}

.product-image{
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.product-thumb1{
    width: 95%;
    height: 300px;
    object-fit: cover;
}
  
  
.product-thumb{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
  
  
.card-btn{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1%;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    font-weight: bolder;
    font-size: 140%;
}

.product-card:hover .card-btn{
    opacity: 1;
}
  
.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
.product-brand{
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1%;
  }
  
.price-main{
    border: 0;
    margin: 0;
    text-align: center;
    margin-left: 0%;
    font-weight: 600;
    font-size: 160%;
    left: auto;
    right: auto;
}


.cards img{
    width: calc(9vw + 9vh);
}
  
.cards btn{
    margin-left:0%;
}
  
.card button{
    display:flex;
    padding: 10px 20px;
    font-size: 70%;
    color:rgb(255, 255, 255);
    gap: 10px;
    border:2px;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff1875, #6f3341);
    margin-left: 31%;
    margin-top: 3%;
}
  

/*Contact Section*/

.CallTime {
    margin-top: 100px;
    font-family: 'druk_cond_trialsuper', sans-serif;
    font-size: 200px;
    letter-spacing: 20px;
}

.contact-container{
    height:46vh;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    position: relative;
}
  
.contact-left{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}
  
.contact-left-title hr{
    border:none;
    width: 120px;
    height:5px;
    background-color: #6f3341;
    border-radius: 10px;
    margin-bottom:3%;
}
  
.contact-inputs{
    width:400px;
    height:50px;
    outline: none;
    padding-left: 4%;
    font-weight:500;
    color:#6f3341;
    border-radius:2%;
    border: 1px solid #ccc;
}
  
.contact-left textarea{
    height:140px;
    padding-top:15px;
    border-radius:20px;
}
  
.contact-input:focus{
    border:2px solid #6f3341;
}
  
.contact-inputs::placeholders{
    color:#ae003d;
}
  
.contact-left button{
    display:flex;
    padding: 15px 30px;
    font-size: 16px;
    color:#fff;
    gap: 10px;
    border:none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff1875, #6f3341);
}
  
.contact-right{
    width:20%;
}
  
.contact-right img{
    width: 120%;
    height: 120%;
}
  
.RoundRound{
    animation: rotation 30s infinite linear;
}

@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

@media (max-width:800px) {
.contact-inputs{
    width:80vw;
}
.contact-right{
    display:none;
}
}